.filtre-container div {
  display: flex;
  justify-content: center;
}
.filtre-container {
  text-align: center;
}
input {
  color: aliceblue;
  background-color: rgba(3, 1, 1, 0.685);
  border-radius: 10rem;
  border-style: hidden;
}
button {
    color: aliceblue;
    background-color: rgba(3, 1, 1, 0.685);
  }
  
